<h1>About us</h1>
<p>This is a marketplace to sell, rent, swap and share Google Glass and Accessories with the other members of the community.</p>
<p>You can also create events and listings for Glass Events and for Glass Demos.</p>

