<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">About GlassAngle</h2>
  </div>
  <div class="panel-body">
   <p>GlassAngle was created to build a community where Glass Explorers can provide one-on-one or group demos to anyone interested in Google Glass. Use this site to create listings for personal demos and events where non Glass Explorers can try out Google Glass in person and see what this amazing piece of technology is capable of. </p>
   
Few words of caution:<br />
- Safety First: Insist to meet in a public place like a cafe or mall and not in secluded areas.
- Set the ground rules before the meeting. Not everyone likes surprises so be clear in the listing and in all communications.<br />
- Be ready to ask or answer a ton of questions. If you are giving a demo, you can just assume that the other person will have a lot of questions. If you are the one getting the demo, make sure you ask all the questions you have and ask the Glass Explorer about Easter eggs and some awesome stuff you can do on Glass!<br />
- Google and Google Glass are not affiliated with this site.<br />
- GlassAngle is not responsible for any communication and exchanges that happen through listings on this site.<br />
</div>
