<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Contact us</h2>
  </div>
  <div class="panel-body">
  	<p> Do you have a suggestion for improvement? Want to report a problem? Just want to say hi? Email us at <Strong>contact@glassangle.com</strong> and you will hear back within 24 hours!</p>
  	Follow us on Social Media:
<!-- AddThis Follow BEGIN -->
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_google_follow" addthis:userid="u/0/113013128412026513679?prsrc=3"></a>
<a class="addthis_button_twitter_follow" addthis:userid="glassangleco"></a>
<a class="addthis_button_facebook_follow" addthis:userid="glassangledotcom"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536325eb6350bc8f"></script>
<!-- AddThis Follow END -->



<!--<div class="panel panel-primary">
	<div class="panel-heading">
		<h1 class="panel-title">Contact us</h1>
	</div>
	<div class="panel-body">
		<form role="form">
		  <% if user_signed_in? %>
		  <% else %>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Your Email address (not required)</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <% end %>
		  <div class="form-group">
		    <label for="exampleInputPassword1">What would you like to tell us?</label>
		    <textarea class="form-control" rows="5" id="exampleInputPassword1" placeholder="Did you encounter a problem with GlassAngle? Have a suggestion for improving the site? Noticed suspicious content? Have something to discuss? Let us know."></textarea>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
		
	
</div>-->