<div class="panel panel-primary">
	<div class="panel-heading">
		<h1 class="panel-title">Contact us</h1>
	</div>
	<div class="panel-body">
		<form role="form">
		  <% if user_signed_in? %>
		  <% else %>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Your Email address (not required)</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <% end %>
		  <div class="form-group">
		    <label for="exampleInputPassword1">What would you like to tell us?</label>
		    <textarea class="form-control" rows="5" id="exampleInputPassword1" placeholder="Did you encounter a problem with GlassAngle? Have a suggestion for improving the site? Noticed suspicious content? Have something to discuss? Let us know."></textarea>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
		
	
</div>