<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Contact us</h2>
  </div>
  <div class="panel-body">
  	<p> Do you have a suggestion for improvement? Want to report a problem? Just want to say hi? Email us at <Strong>contact@glassangle.com</strong> and you will hear back within 24 hours!</p>
  	Follow us on Social Media:
<div class="table-responsive">  	
<table class = "table">
	<tr>
    <td><!-- Place this tag where you want the widget to render. -->
<div class="g-page" data-href="//plus.google.com/u/0/113013128412026513679" data-rel="publisher"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script></td>
<td><a class="twitter-timeline" href="https://twitter.com/GlassAngleCo" data-widget-id="461406349729873920">Tweets by @GlassAngleCo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</td>

<td><!-- Facebook Badge START --><a href="https://www.facebook.com/glassangledotcom" target="_TOP" title="GlassAngle"><img src="https://badge.facebook.com/badge/384570081687748.840.1908549953.png" style="border: 0px;" /></a><br/><a href="https://www.facebook.com/advertising" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!"></a><!-- Facebook Badge END --></td>
</tr>
</table>
</div>
  </div>
</div>






<!--<div class="panel panel-primary">
	<div class="panel-heading">
		<h1 class="panel-title">Contact us</h1>
	</div>
	<div class="panel-body">
		<form role="form">
		  <% if user_signed_in? %>
		  <% else %>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Your Email address (not required)</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <% end %>
		  <div class="form-group">
		    <label for="exampleInputPassword1">What would you like to tell us?</label>
		    <textarea class="form-control" rows="5" id="exampleInputPassword1" placeholder="Did you encounter a problem with GlassAngle? Have a suggestion for improving the site? Noticed suspicious content? Have something to discuss? Let us know."></textarea>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
		
	
</div>-->